// marquee.module.scss
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;

.dark {
  background: #020E1A !important;
}

.marqueeWrapper {
  max-width: 1240px;
  padding: 100px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: auto;
  box-sizing: border-box;

  @media (max-width:$breakpoint-tablet) {
    padding: 30px 0;    
   }
}

.marqueeText {
  display: flex;
  animation: marquee 20s linear infinite; 
  gap: 50px;
  width: max-content; 
  will-change: transform;
}

.marqueeText img {
  margin-right: 20px;
}

.marqueeWrapper::before,
.marqueeWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 2;
}

.marqueeWrapper::before {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.marqueeWrapper::after {
  left: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.dark {
  .marqueeWrapper::before {
    background: linear-gradient(to left, rgba(2, 14, 26, 1), rgba(2, 14, 26, 0));
  }
  
  .marqueeWrapper::after {
    background: linear-gradient(to right, rgba(2, 14, 26, 1), rgba(2, 14, 26, 0));
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}