$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;

$color-primary : #000;
$color-input : #F5F5F5;
$color-paragraph : #404040;
$color-paragraph2 : #D4D4D4;
$color-border : #F2F2F2;
$color-blue2 : #218AF0;
$color-blue1 : #020E1A;
$color-blue3 : #041C33;
$color-red1 : #FF3310;
$color-blue4 : #E9F3FD;
$color-blue : #248AF0;
$font-rethink_sans : "--font-rethink_sans";
$font-inter : '--font-inter';



.container{
    background-color: var(--color-bg);
    color: var(--color-text);

    &.dark{
        .whychoose{
            h1{
                color: white;
            }
            .grid{
                .flexwrapper1{
                    .whychoosecontent{
                            h2{
                                color: white;
                            }
                            p{
                                color: $color-paragraph2 ;
                            }
                    }
                }
                .flexwrapper2{
                    .whychoosecontent{
                            h2{
                                color: white;
                            }
                            p{
                                color: $color-paragraph2 ;
                            }
                    }
                }
            }
        }
    }
}

.whychoose{
    padding: 50px 0;
    max-width: 1240px;
    margin: auto;

    @media (max-width:$breakpoint-large) {
        padding: 25px;
    }
    @media (max-width:$breakpoint-mobile) {
        padding: 10px;
    }

    h1{
        color: var(--Typography-sub-heading, $color-blue3);
        text-align: center;
        font-feature-settings: 'liga' off;
        font-family: var(#{$font-rethink_sans});
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        max-width: 694px;
        width: 100%;
        margin: auto;
        @media (max-width: $breakpoint-tablet) {
            font-size: 40px;
        }
        @media (max-width: $breakpoint-mobile) {
            font-size: 28px;
        }
    }
    .grid{
        display: grid;
        padding: 50px 0;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        @media (max-width : $breakpoint-large) {
            grid-template-columns: 1fr;
        }
        .flexwrapper1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            @media (max-width : $breakpoint-large) {
                align-items: flex-start;
            }
            .whychoosecontent{
                display: flex;
                align-items: center;
                gap: 30px;
                @media (max-width : $breakpoint-large) {
                    flex-direction: row-reverse;
                }
                @media (max-width: $breakpoint-mobile) {
                    gap: 16px;
                }
                div{
                  
                    h2{
                        color: var(--Typography-heading, #000);
                        text-align: right;
                        font-family: var(#{$font-rethink_sans});
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 126.632%; /* 31.658px */
                        @media (max-width : $breakpoint-large) {
                            text-align: left;
                        }
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 23px;
                        }
                        @media (max-width: $breakpoint-mobile) {
                            font-size: 18px;
                        }
                    }
                    p{
                        padding-top: 4px;
                        color: var(--Typography-paragraph, #404040);
                        text-align: right;
                        font-family: var(#{$font-inter});
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 170%; /* 27.2px */
                        @media (max-width : $breakpoint-large) {
                            text-align: left;
                        }
                        @media (max-width: $breakpoint-mobile) {
                            font-size: 14px;
                        }
                    }
                }
                svg{
                    min-height: 65px;
                    min-width: 65px;
                    @media (max-width: $breakpoint-mobile) {
                        min-height: 40px;
                        min-width: 40px;
                    }
                }
            }
        }

        .centerimage{
        width: 100%;
        height: 100%;
        @media (max-width : $breakpoint-large) {
            width: 700px;
            height: 700px;
            margin: auto;
        }
        @media (max-width: $breakpoint-desktop) {
           height: 100%;
           width: 100%;
         }
      
        }

        .flexwrapper2{
            display: flex;
            flex-direction: column;
            gap: 50px;

            .whychoosecontent{
                display: flex;
                align-items: center;
                gap: 30px;
                @media (max-width: $breakpoint-mobile) {
                    gap: 16px;
                }

                div{
                    h2{
                        color: var(--Typography-heading, #000);
                        font-family: var(#{$font-rethink_sans});
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 126.632%; /* 31.658px */
                        @media (max-width: $breakpoint-tablet) {
                            font-size: 23px;
                        }
                        @media (max-width: $breakpoint-mobile) {
                            font-size: 18px;
                        }
                    }
                    p{
                        color: var(--Typography-paragraph, #404040);
                        font-family: var(#{$font-inter});
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 170%; /* 27.2px */
                        @media (max-width: $breakpoint-mobile) {
                            font-size: 14px;
                        }
                    }
                }
                svg{
                    min-height: 65px;
                    min-width: 65px;
                    @media (max-width: $breakpoint-mobile) {
                        min-height: 40px;
                        min-width: 40px;
                    }
                }
            }
        }

    }

    .buttonwrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            display: inline-flex;
            padding: 15px 22px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: var(--Accent-Main, $color-red1);
            color: #FFF;
            font-family: var(#{$font-rethink_sans});
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            border: none;
       
        }
    }
   
}